extends layout

block contenedor
    div.container.mt-3
        div.jumbotron
            h1(style='color:blue;') Ingrese datos
            br
            form(role="form" action="/productos" method="post")
                div.form-group
                    label(for='nombre')
                    b Nombre
                    input#nombre.form-control(type='text', name='nombre')
                div.form-group
                    label(for='precio')
                    b Precio
                    input#precio.form-control(type='number', name='precio')
                div.form-group
                    label(for='url')
                    b Url imagen
                    input#url.form-control(type='text', name='url')
                button.btn.btn-success.mt-3.mb-5(type="submit") Enviar
            a.btn.btn-success.mt-3.mb-5(href='/productos') Productos Ingresados
        

